.footerDivisor{
    border-right: 1px double black;
}
.footerSeparator{
    background-color: antiquewhite;
}

.logo{
    margin-right: 6px;
}

.carrinho {
    margin-right: 6px;
}

.usuario {
    margin-left:8px;
}


html, body {
    height: 100%;
    margin: 0;
    background-color:azure;
  }
nav {
    background-color:white;
}
  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

footer,
  .push {
    height: 63px;
  }


@media screen and (max-width: 991px) and (min-width: 0px){
    .footerDivisor{
        border-right: none;
    }
  }